body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#banner {
/*    width: 272px;
    height: 159px;*/
    width: 272px;
    height: 159px;
    margin: auto;
    align-content:center;
    text-align: center; /*centers horizontally*/
    /*line-height: 300px; */ /*same as height and for centering vertically*/ 
}

#banner_img {
    /*    width: 100%;
    height: 100%;*/
    width: 50%;
    height: 50%;
}

#banner_slogan {
    vertical-align:bottom;
}
